<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${Title}">Spring Boot App HB</title>
</head>

<body>
    <h1>Información de empleado</h1>
    <ul>
        <li><strong>Nombre:</strong> <span th:text="${EmployeeHB.name}"></span></li>
        <li><strong>Apellido:</strong> <span th:text="${EmployeeHB.lastname}"></span></li>
        <li><strong>Dirección:</strong> <span
                th:text="${EmployeeHB.address != null ? EmployeeHB.address : 'There is no address'}"></span></li>
        <li><strong>Puesto:</strong> <span th:text="${EmployeeHB.role}"></span></li>
        <li><strong>Edad:</strong> <span th:text="${EmployeeHB.age}"></span></li>
        <li><strong>Teléfono:</strong> <span th:text="${EmployeeHB.telephone}"></span></li>
        <li><strong>ID:</strong> <span th:text="${EmployeeHB.id}"></span></li>
    </ul>

    <h1>Lista de Empleados</h1>
    <table border="2">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dirección</th>
                <th>Puesto</th>
                <th>Edad</th>
                <th>Teléfono</th>
                <th>Departamento</th>
            </tr>
        </thead>
        <tbody>
            <!-- EmployeeList is the name of the ModelAttribute anotation identifier -->
            <!-- Employee is the class name -->
            <tr th:each="Employee: ${EmployeesList}">
                <td th:text="${Employee.name}"></td>
                <td th:text="${Employee.lastname}"></td>
                <td th:text="${Employee.address}"></td>
                <td th:text="${Employee.role}"></td>
                <td th:text="${Employee.age}"></td>
                <td th:text="${Employee.telephone}"></td>
                <td th:text="${Employee.id}"></td>
            </tr>
        </tbody>
    </table>

</body>

</html>